#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    font-family: monospace;
    width: 400px;
    padding: 10px;
}

#screen, #buttons {
    flex: auto;
}

#screen {
    font-size: 48pt;
    text-align: right;
    text-shadow: 1.3px 1.3px #383838;
    justify-content: flex-end;
    background-color: blanchedalmond;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

button {
    min-height: 100px;
    min-width: 100px;
    flex-shrink: 0;
    flex-basis: auto;
    border-style: 2px solid black;
    border-radius: 5px;
    font-size: 24pt;
    font-family: monospace;
    font-weight: 550;
}

.misc {
    background-color: cadetblue;
}

.operator {
    background-color: chocolate;
}

.num {
    background-color: darksalmon;
}

#zero {
    flex: 2;
}